/* nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  border: solid;
  width: fit-content;
  padding-left: 0;
}
nav ul li {
  margin: 0.5rem;
} */
